@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);

}


header {
    max-width: 1060px;
    margin: 0 auto;
    /* background-color: black; */
    /* background-color: rgb(0, 0, 0); */

}

.display-flex {
    display: flex;
}

.nav-bar {
    justify-content: space-between;
    /* margin-bottom: 50px; */
    max-height: 1060px;
    margin: 0 auto;
}

ul li {
    list-style: none;

}

.nav-ancor {
    align-items: center;
}

ul li a {
    text-decoration: none;
    margin-left: 35px;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255);

}



.navbar-contant {
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    /* margin-left: 190px; */
    /* margin-left: 80px; */
}

.banner-batton {
    display: flex;
}

.btn {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    padding: 10px;
    border-radius: 15px;
}

.banner {
    display: flex;
    max-width: 1060px;

    margin: 0 auto;
    justify-content: space-between;
}

.banner-content {
    max-width: 520px;

}

.banner-containar {
    font-size: 4.9rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.banner-discription {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.427);
}

.banner-img img {
    width: 349px;
    height: 580px;

}

.banner-img {
    position: relative;
    /* margin-left: 200px; */
}

.card {
    width: 193px;
    /* height: 98px; */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    position: absolute;
    top: 100px;
    right: -80px;





}

.card-contant {
    font-size: 30px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
}

.card-dis {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;

}

.card-2 {
    width: 193px;
    /* height: 98px; */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    position: absolute;
    left: -90px;
    bottom: 70px;


}

.card-contant-2 {
    font-size: 30px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;

}

.card-dis-2 {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;

}

.btn-1 {
    font-size: 1.2rem;
    font-weight: 600;
    background: rgb(230, 83, 60);
    color: cardrgb(255, 255, 255);
    padding: 16px 40px 16px 40px;
    border-radius: 30px;
    border: none;

}

.btn-2 {
    font-size: 1.2rem;
    font-weight: 600;

    color: rgb(255, 255, 255);
    padding: 16px 40px 16px 40px;
    border-radius: 30px;
    background-color: black;
    border: 1px solid white;
    margin-left: 20px;


}

.fitst-section {
    max-width: 1060px;
    margin: 0 auto;
    
}

.jim-banner-man {
     
    /* display: flex; */
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.img-class{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-class img {
    width: 180px;
    height: auto;
    border-radius: 100px;
}

.same {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-left: 25px;
    width: 231px;
    justify-items: center;
}

.same-same {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 25px;
    width: 231px;

}



.sns-div {
    display: flex;
    background-color: rgb(34, 34, 34);
    max-width: 1060px;
    /* height: 371px; */
    margin: 0 auto;
}

.contant-main {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);

}

.contant-discription {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.main-img img {
    width: 366px;
    height: 312px;
    margin-top: 20px;
    margin-left: 100px;

}

.btn-3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    border-radius: 25px;
    border: none;
}

.containar-div {
    margin-left: 27px;
}

.jim-containar {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.jim-driscription {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.jim-contant-discrip {
    margin-left: 64px;
}

.meet-our-team {
    max-width: 1060px;
    margin: 0 auto;

}

.meet-div {

    width: 364px;
    margin: 0 auto;
}

.meet-contant {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.meet-driscription {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.meet-banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;

}

.meet-banner img {
    object-fit: cover;
    width: 100%;
    height: 272px;
    display: block;
    border-radius: 10px;


    /* aspect-ratio: 3/2;
    object-fit: cover; */
}

.contant {
    color: rgb(230, 83, 60);
    font-size: 4.3rem;
    font-weight: 800;
}

.foot-driskiption {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.contsant-2 {
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.same-same {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.footetr {
    display: flex;
    justify-content: space-evenly;

    max-width: 1060px;
    margin: 0 auto;

    margin-top: 80px;

}

.foot-containar {
    width: 443px;
    /* margin-right: 100px; */
}

.foot-contant {
    width: 181px;
    /* margin-right: 100px; */
}

.foot {
    width: 165px;
    margin-left: 50px;
}

.under-line {
    border: 2px solid rgba(255, 255, 255, 0.1);
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 20px;
}

.last-discription {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}


@media screen and (max-width: 576px) {
    .nav-ancor {
        display: none;
    }
    .navbar-contant{
        margin-left: 20px;
    }
    .banner-containar{
        font-size: 2.25rem;
        width: 285px;
        /* padding-left: 20px; */
    }
    .banner{
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
    }
    .banner-img{
        /* width: 100%; */
        /* height: auto; */
        /* object-fit: cover; */
        margin-left: 0px;
    } 

    .banner-img img{
        height: auto;
        width: 100%;
        object-fit: contain;
    }

    .banner-img .card{
        right: 0px;
        backdrop-filter: blur(15px);
    }

    .banner-img .card-2{
        left: 32px;
        backdrop-filter: blur(15px);
        bottom: 250px;
    }
    .banner-discription{
        width: 274px;
        font-size: 1rem;

    }
    .banner-batton{
        width: 100%;
    }
   

    .jim-banner-man{
        grid-template-columns: repeat(1, 1fr);
    }
    
.sns-div {
   flex-direction: column;
   margin-left: 20px;
   margin-right: 20px;
   padding: 33px;
}
.main-img img {
    width: 100%;
    height: 312px;
    margin-top: 20px;
    margin-left: 0px;
   object-fit: cover;
}
.meet-our-team {
    max-width: 1060px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

}

.meet-div {

    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.meet-contant {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.meet-driscription {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.meet-banner {
  
    grid-template-columns: repeat(1, 1fr);
  
  
}

.meet-banner img {
    object-fit: cover;
    width: 100%;
    height: 272px;
    display: block;
    border-radius: 10px;


    /* aspect-ratio: 3/2;
    object-fit: cover; */
}
.contant {
    color: rgb(230, 83, 60);
    font-size: 4.3rem;
    font-weight: 800;
}

.foot-driskiption {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.contsant-2 {
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.same-same {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-left: 0;
}

footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.footetr {
   
flex-direction: column;
    max-width: 1060px;
    margin: 0 auto;

    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px;

}

.foot-containar {
    width: 100%;
    margin-left: 0px;
}

.foot-contant {
    width: 100%;
    margin-left: 0px;
}

.foot {
    width: 100%;
    margin-left: 0px;
}
.under-line {
    
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 354px;
    margin: 0 auto;
}

.last-discription {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}


}